@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.background {
	bottom: 14%;
	animation-name: slide;
  	animation-duration: 2s;
  	animation-fill-mode: forwards;
	position: fixed;
}

.back_phone {
	right: 0%;
	bottom: 0%;
	width: 280px;
	height: 575px;
	border-radius: 35px;
	background-color: #000000;
	position: absolute;
}

.screen{
	top: 0%;
	left: 0%;
}

.statubar
{
	position: relative;
	z-index: 10000;
}

.screen_lock{
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background-image: url(wallpaper.png);
	background-size: cover;
	border: 7px solid #000;
	border-radius: 35px;
	position: absolute;
}

.screen_unlock{
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background-image: url(wallpaper3.png);
	background-size: cover;
	border: 7px solid #000;
	border-radius: 35px;
	position: absolute;
	opacity: 0;
	transition: all .2s ease-in;
	visibility: hidden;
}

.screen:hover .screen_unlock 
{
	/*opacity: 1;*/
	/*visibility: visible;*/
}

@keyframes slide {
  from 	{right:-50%;}
  to  	{right:4%;}
}

#camera {
 	height: 40px;
	width: 40px;
	background-color: black;
 	position: absolute;
	top: -20px;
 	left: 45%;
 	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: rotate(-45deg);
 	border-radius: 0 0 0 0.9em;
}

#lock {
	bottom: 5%;
	right: 46%;
	position: absolute;
	opacity: 50%;
}

#battery {
	width: 7%;
    height: auto;
	top: 13.1px;
	right: 5%;
	position: absolute;
	opacity: 80%;
}

#wifi {
	width: 5%;
    height: auto;
	top: 14.5px;
	right: 19%;
	position: absolute;
	opacity: 80%;
}

#signal {
	width: 5%;
    height: auto;
	top: 14.5px;
	right: 13%;
	position: absolute;
	opacity: 80%;
}

#hours {
	top: 15%;
	right: 28%;
	position: absolute;
	font-weight: 900;
	font-family: bebas_r;
	font-size: 150%;
}

@font-face {
   font-family: bebas_r;
   src: url(Bebas-Regular.otf);
}

#volume_plus {
	right: -3%;
	top: 29%;
	width: 7px;
	height: 31px;
	border-radius: 4px;
	background-color: #000000;
	position: absolute;
}

#volume_less {
	right: -3%;
	top: 22%;
	width: 7px;
	height: 31px;
	border-radius: 4px;
	background-color: #000000;
	position: absolute;
}

#power_off {
	left: -1%;
	top: 25%;
	width: 7px;
	height: 31px;
	border-radius: 4px;
	background-color: #000000;
	position: absolute;
}

#ic_message {
	width: 50px;
	height: auto;
	right: 26%;
	bottom: 5%;
	position: absolute;
}

#app_call {
	width: 50px;
	height: auto;
	left: 10%;
	bottom: 5%;
	position: absolute;
}

#app_contact {
	width: 50px;
	height: auto;
	left: 33%;
	bottom: 5%;
	position: absolute;
}

#app_internet {
	width: 50px;
	height: auto;
	right: 3%;
	bottom: 5%;
	position: absolute;
}

#app_bank{
	width: 50px;
	height: auto;
	right: 3%;
	bottom: 15%;
	position: absolute;
}

#app_setting {
	width: 50px;
	height: auto;
	right: 26%;
	bottom: 15%;
	position: absolute;
}

.app_homescreen {
	opacity: 0;
	transition: all .3s;
	visibility: hidden;
}

.app_message {
	opacity: 0;
	transition: all .3s;
	visibility: hidden;
}

.active {
	visibility: visible !important;
	opacity: 1;
}

.chatbox {
	/*width: calc(100% - 10px);
	height: calc(100% - 10px);*/
	background-color: #ffffff;
	width: 270px;
	height: 565px;
	/*border: 7px solid #000;*/
	border-radius: 27px;
	/*visibility: hidden;/*/
	position: absolute;
}

.chatlogs {
	padding: 10px;
	width: 275px;
	height: 545px;
	overflow-x: hidden;
	overflow-y: scroll;
	/*background: #ccc;*/
}

.chatlogs::-webkit-scrollbar {
	width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0,0,0,.1);
}

.chat {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 5px;
	margin-top: 15px;
}

.chat .user_photo {
	width: 40px;
	height: 40px;
	background: #ccc;
	border-radius: 50%;
}

.chat .chat_message {
	width: 70%;
	padding: 7px;
	margin: 2.5px 5px 0;
	background: #fd4545;
	border-radius: 5px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.friend .chat_message {
	background: #6AA6E7
}

.user .chat_message {
	background: #3B9CFA;
	order: -1;
}

.chat_form {
	bottom: 5%;
	left: 6%;
	width: 100%;
	position: absolute;
	margin-top: 5px;
	display: flex;
	align-items: flex-start;
}

.chat_form textarea {
	background: #fbfbfb;
	width: 75%;
	height: 30px;
	right: -400px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.chat_form textarea:focus {
	background: #fff;
}

.chat_form button {
	/*position: absolute;*/
	margin-top: 3px;
	margin-left: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background: #035CB0;
}

#triangle {
	width: 0;
    height: 0;
    margin-left: 3px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ccc;
    border-radius: 10%;
}