.background {
	right: 3%;
	bottom: 7%;
	position: fixed;
}

.background_life {
	right: 5%;
	bottom: 10%;
	width: 455px;
	height: 40px;
	border-radius: 23px;
	background-color: rgba(128, 128, 128, 1);
	position: absolute;
}

.background_hunger {
	top: -60px;
	right: 20px;
	width: 415px;
	height: 33px;
	border-radius: 17px;
	background-color: rgba(128, 128, 128, 1);
	position: absolute;
}

.background_shield {
	top: -7px;
	right: 210px;
	width: 224px;
	height: 27px;
	border-radius: 14px;
	background-color: rgba(128, 128, 128, 1);
	position: absolute;
}

.background_money {
	top: -5px;
	right: 20px;
	width: 153px;
	height: 33px;
	border-radius: 17px;
	background-color: rgba(128, 128, 128, 1);
	position: absolute;
}

#money {
	top: -50%;
	right: 47%;
	transform: translate(50%);
	position: absolute;
	color: #ffffff;
	font-family: Impact;
}

#hp {
	position: absolute;
	top: -36%;
	left: 47%;
	color: #ffffff;
	font-family: Impact;
}

#life_bar {
	top: 0%;
	left: 0%;
	width: calc(var(--width, 0) * 1%);
	height: 27px;
	border-radius: 14px;
	background-color: #14bf15;
	position: absolute;
}

#life_bar_2 {
	position: absolute;
	top: 20%;
	left: 3%;
	width: calc(var(--width, 0) * 1%);
	height: 5px;
	border-radius: 3px;
	background-color: #19d21a;
}

#back_life_bar {
	top: 17%;
	left: 2%;
	width: 96%;
	height: 27px;
	border-radius: 14px;
	background-color: rgba(33, 33, 33, 0.3);
	position: absolute;
}

#shield_bar {
	position: absolute;
	top: 0%;
	left: 0%;
	width: calc(var(--width, 0) * 1%);
	height: 12px;
	border-radius: 6px;
	/*background-color: #1954ff;*/
	background-color: #2295fa;
}

#shield_bar_2 {
	position: absolute;
	top: 15%;
	left: 3%;
	width: calc(var(--width, 0) * 1%);
	height: 3px;
	border-radius: 2px;
	/*background-color: #3669ff;*/
	background-color: #4f9ffb;
}

#back_shield_bar {
position: absolute;
	top: 35%;
	left: 4%;
	width: 92%;
	height: 12px;
	border-radius: 6px;
	background-color: rgba(33, 33, 33, 0.3);
}